/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {

    html,
    body {
        background: yellow
    }

    .main-nav {
        float: right;
        margin-top: 4%;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .comedy-space {
        display: none
    }



    .herotextbox {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .herotextbox h1 {
        color: var(--primary-colour);
        width: 100%;
        text-align: start;
        font-size: 3.5rem;
        padding: 2rem;

    }

    .btn-ghost {
        font-size: 1rem;
        margin: 0;
        padding: 0;

    }


    .p-xs.m-l {
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px
    }

    .comedy-house-space {
        display: none
    }

    .flex-mod-art {
        width: 100%;
        background: rgba(255, 0, 0, 0.08);
        font-size: 1.3rem;
        padding: inherit
    }

    bold {
        font-size: 1.1rem
    }

    .art-grid img {
        width: 100%;
        height: 7.3rem;
    }
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1023px) {


    html,
    body {
        background: pink;
    }

    .main-nav {
        float: right;
        margin-top: 4%;
        list-style: none;
        display: -webkit-box;
        display: -ms-flexbox;
        display: block;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

    }




    .herotextbox {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .herotextbox h1 {
        color: var(--primary-colour);
        width: 100%;
        text-align: start;
        font-size: 2.0rem;
        padding: 1rem;

    }

    .btn-ghost {
        font-size: 1rem;
        margin: 0;
        padding: 0;

    }


    .p-xs.m-l {
        margin: 1rem;
        padding: 1rem;
        border-radius: 5px
    }

    .flex-mod-art {
        width: 100%;
        background: rgba(255, 0, 0, 0.08);
        font-size: 1.3rem;
        padding: 0 1rem;
    }

    bold {
        font-size: 1.1rem
    }

    .art-grid img {
        width: 100%;
        height: auto;
    }

    .comedy-house-space {
        display: none;
        background: red;
    }

    .herotextbox {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

    .herotextbox h1 {
        color: var(--primary-colour);
        width: 100%;
        text-align: start;
        font-size: 3.5rem;
        padding: 1rem;

    }

    .btn-ghost {
        font-size: 1rem;
        margin: 0;
        padding: 0;

    }


    /*
 video {
  display: grid;
  grid-template-columns: 6fr 4fr;
width: 20%           grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
 }
*/
    /*

 .other-articles.card.grid.art-grid {
  display: grid;
  width:100%;
  heiaght: 100% !important;
  grid-template-columns:  1fr 1fr;
  gap: 1px !important
 }
*/
    /*

 .other-articles.card.grid.art-grid {
  display: grid!important;
  background: #fff !important;
  border-radius: 0px
 }
*/
    video.card.video-utility {
        display: grid;
        width: 100%
    }

    .articles {
        margin: 0;
        padding: 0;

    }

    /*
 .video-box {
  display: grid;
  width: 100%
 }
*/
    bold {
        font-size: 1rem
    }

    .art-text-p {
        font-size: 1.4rem;
        margin: 1rem 0 !important;
        padding: 2rem 1rem;

    }

    .art-grid {
        height: 100% !important;
        width: 100% !important;
        grid-template-columns: 60% 40% !important;
        align-items: start;
        grid-template-rows: 30% 70%;
        gap: 1px !important;
        /*background: linear-gradient(to left bottom, #daf0c7, #ffff07);*/
        overflow: hidden;
        padding: 3rem 2rem;

    }

    .flex-mod-art {
        font-size: 1rem;
    }


    .mobile {
        display: none !important
    }

    .videos.grid {
        /*  gap: */
        grid-template-rows: 0.5fr 0.3fr 0.3fr 0.3fr 0.3fr 0.3fr
    }

    .art-text {
        margin: auto;
        text-align: center
    }

    .grid {
        display: grid;
        gap: 30px;
        justify-content: center;
        align-items: center;
        height: auto;
        grid-template-columns: 60% 40%;


    }



    /*
 .comedy-house-space {
  display=swap: none
 }

 .c,
 ard-cities {
  width: 100%
 }

 .card-group {
  display=swap: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  wiodth: 48.51%;
 }

 .btncontainer {
  display=swap: -webkit-inline-box;
  display=swap: -ms-inline-flexbox;
  display=swap: inline-flex;
  position: absolute;
  margin: 1%;

 }


 .text1:before {
  font-size: 80%;
  text-align: center;

 }


 .cloud h2 {
  font-size: 150%
 }



 .cloud p {
  font-size: 100%;
  font-weight: 100;
  word-spacing: 1px;
  letter-spacing: 0.5px
 }

 .cloud .btn {
  padding: 2.3%;
  font-size: 100%;
  margin: auto;
  position: static;
  margin-top: 12%
 }


 .imgodo {
  width: 100%;
 }

 .cardcontainers {
  grid-template-columns: auto;
  width: 100%;
  display=swap: grid;

 }

 h2.h2-mod {
  padding: 0% 12%;
 }
}
*/




    /* Small phones to small tablets: from 481px to 767px */
    @media only screen and (max-width: 767px) {

        /*
 html,
 body {
  background: green
 }*/



        /*

 .cloud p {
  font-size: 100%;
  font-weight: 100;
  word-spacing: 1px;
  letter-spacing: 0.5px
 }

 .cloud h2 {
  font-size: 130%
 }
*/



        /*
 .cloud .btn {
  padding: 2.3%;
  font-size: 90%;
  margin: auto;
  position: static;
  margin-bottom: 3%
 }


 .imgodo {
  width: 100%;
 }

 .c,
 ard-cities {
  width: 100%
 }

 .card-group {
  display=swap: grid;
  grid-column: 1fr;
  grid-row: 1fr;
  windth: 48.51%;
  widtmh: 100%
 }
*/

        /*
 .testi-cap {
  font-size: 150%;
  padding:
 }

 section,
 div,
 container {
  margin: 0
 }

 .cardcontainers {
  grid-template-columns: auto;
  width: 100%;
  display=swap: grid;
 }
*/

        /*
.card--bg--purple{
  background: hsl(263, 55%, 52%);
  color: #333;
  grid-column: 1;
  grid-row: 3/4;
  width: 100%;

 }
*/

        /*
 .card--bg--gray--blue {
  color: #fff;
  grid-column: 1;
  grid-row: 1/2;
  width: 100%;
  background: #B51C20;
 }
*/

        /*
 .card--bg--black--blue {

  color: #fff;
  grid-column: 1;
  grid-row: 2/3;
  width: 100%;
 }
*/
        /*

 .card__Omni {
  grid-column: 1;
  background: hsl(219, 29%, 14%);
  grid-row: 4/5;
  width: 100%;
 }

 .card__Gomel {
  grid-column: 1;
  grid-row: 5/6;
  width: 100%;
  background-color: firebrick;
 }
*/



        /*

 .imgodo {
  width: 100%;
 }

 .grid,
 .showcase .grid,
 .stats .grid,
 .stats .grid,
 .cli .grid,
 .cloud .grid {
  grid-template-columns: 1fr;
  grid-template-rows: 1fr
 }

 h2.h2-mod {
  padding: 0% 9%;
 }

 input.btn.btn-primary {
  padding: 10;
  margin: inherit;

 }
}
 */
        html,
        body {
            background: fuchsia;
            padding: 0;
            box-sizing: border-box;
            margin: 0;
            /* max-widh: 450px; */

        }

        body .videos.grid {
            display: flex;
            margin: 0;
            padding: 0;
            width: 100%;
            flex-wrap: wrap
        }

        .main-nav {
            float: right;
            margin-top: 4%;
            list-style: none;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

        }

        .herotextbox {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .herotextbox h1 {
            color: var(--primary-colour);
            width: 100%;
            text-align: start;
            font-size: 2.0rem !important;
            padding: 1rem;

        }

        .btn-ghost {
            font-size: 1rem;
            margin: 0;
            padding: 0;

        }


        .p-xs.m-l {
            margin: 1rem;
            padding: 1rem;
            border-radius: 5px
        }




        .comedy-house-space {
            margin: 0 !important;
            padding: 0 !important;
        }

        .clips-and-articles {
            padding: 0px;
            height: 475px;
            overflow: scroll;
            width: 100%
        }

        .art-label-h1 {
            margin: 1rem !important;
            padding: 0 !important;
            font-size: 3rem
        }


        .art-label.flex {
            flex-direction: column;
            display: none
        }

        .revisews {
            display: none;
        }



        .video-box.before-dash:before {
            display: block;
            height: 0.5rem;
            background-color: var(--dark-colour);
            content: " ";
            margin: 1rem 9rem;
            margin-top: 1rem;
        }

        .after:after {
            display: inline-block;
            background-color: var(--red-colour);
            content: "view more skits😁";
            text-transform: uppercase;
            border-radius: 1rem;
            border: 1px solid #B51C20;
            justify-content: center;
            color: aliceblue;
            padding: 0.8rem 1rem !important;
            margin: 1rem 24rem;
            white-space: nowrap;
            font-size: 1.1rem;
            top: 10rem;
            left: 3rem;
        }



        .reviews-mobile:before {
            display: inline-flex;
            background-color: var(--red-colour);
            content: "bass crunch";
            text-transform: uppercase;
            text-align: center;
            border-radius: 1rem;
            border: 1px solid #B51C20;
            justify-content: center;
            color: aliceblue;
            padding: 0.8rem;
            margin: 2rem 9rem;
            white-space: nowrap;
        }




        .other-articles {
            display: none
        }


        .flex-mod-art {
            font-size: 5rem !important;
        }

        bold {
            font-size: 1.1rem !important
        }

        em {
            font-size: 1.3rem;
        }

        .other-articles.card.grid.art-grid {
            display: none !important;
            /*background: #fff !important;*/
            border-radius: 0px;
        }

        .other-articles.mobile.card.grid.art-grid {

            display: block !important;
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
            margin: 0;
        }

        .flex-mod-art {
            align-items: center;
            justify-content: center;
            width: 100%;
        }

        .articles p {
            margin: 0.2rem 0;
        }

        .articles {
            margin: 0 !important;
            padding: 0;
            height: 475px;
            overflow: scroll;
            max-width: important;
        }

        /*.container.grid-footer.grid-3{*/
        /* grid-column: 1fr !important;*/
        /* background: */
        .read-more-button {
            background: rgba(230, 23, 23, 0.99);
            border-radius: 0.9rem;
            border: 1px solid #8e7777
        }


        .grid-3 {
            grid-template-columns: 1fr;
            display: block;
            grid-template-rows: 1fr;
            font-size: 1rem;
        }


        .odo-h1 {
            padding: 0;
            margin: 0;
            text-align: center;
            font-size: 2rem;
            font-weight: 600
        }

        .website-author {
            padding: 1.2rem;
            margin: 1rem;
            text-align: center;
            width: auto
        }

        .author-site-span {
            font-size: 1.4rem;
            overflow: hidden;
            word-wrap: break-word;

        }

        .author-paragraph {
            font-size: 1.2rem;
            text-align: center
        }

        .grid-footer {

            display: block;
            gap: 20px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            grid-template-columns: 1fr;
            padding: 2rem 0
        }

        .grid-3 .c {
            font-size: 1.5rem;
            padding: 0.5rem 0;
        }


        .remove-bullet-points {
            text-align: center;
            padding: 0.5rem 0;
            font-size: 130%
        }

        .remove-bullet-points li {
            margin: 0.5rem 0;
        }


        .social {
            text-align: center;
            padding: 0.5rem 0;

        }

        .odo-h1:hover {
            font-size: 2.1rem !important
        }



        .card.video-utility {
            margin: 1rem 1rem !important;
            padding: 1rem 1rem !important;
            width: 100%
        }

        .video-box {
            width: 90%;
            margin-left: -0.4rem !important;
            padding: 0;

        }

        .videos.grid {
            width: 100%;
            margin: 88px;
            padding: 0;
        }

        video.card {
            display: fle;
        }

        div,
        body,
        section {
            margin: 0;
            padding: 0;
        }

        .header-mod {
            height: 65rem;

        }

        .bc.flexy {
            visibility: hidden
        }

        .btn.btn-head-nav-mod {
            margin: 0 0.2rem;
            white-space: nowrap;
            text-align: center;
            justify-content: center;
            font-size: 0.9rem
        }

        .main-nav {
            margin: 6rem 2rem;
            width: 60%;
            list-style: none;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
        }
    }





    /* Small phones: from 0 to 480px */
    @media only screen and (max-width: 480px) {

        html,
        body {
            background: #fff;
            padding: 0;
            box-sizing: border-box;
            margin: 0;
            /* max-widtlh: 450px; */

        }

        body .videos.grid {
            display: block;
            margin: 0;
            padding: 0;
            width: 100%
        }


        .main-nav {
            margin: 6rem 2rem;
            width: 60%;
            list-style: none;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            position: absolute;
        }


        .herotextbox {
            position: absolute;
            width: 100%;
            top: 50%;
            left: 50%;
            -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
        }

        .herotextbox h1 {
            color: var(--primary-colour);
            width: 100%;
            text-align: start;
            font-size: 2.0rem !important;
            padding: 0.5rem !important;
            margin-top: 0 1rem !important;
            height: 13vh !important;

        }

        button {
            margin-top: 13rem;
        }

        .btn-ghost {
            font-size: 1rem;
            margin: 0;
            padding: 0;

        }


        .p-xs.m-l {
            margin: 1rem;
            padding: 1rem;
            border-radius: 5px
        }




        .comedy-house-space {
            margin: 0 !important;
            padding: 0 !important;

        }

        .clips-and-articles {
            padding: 0px;
            height: 475px;
            overflow: scroll;
            width: 100%
        }

        .art-label-h1 {
            margin: 1rem !important;
            padding: 0 !important;
            font-size: 3rem !important;
            /*color: #ccc !important;*/
        }


        .art-label.flex {
            flex-direction: column;
            display: none;
            background: red !important;
        }

        .revihews {
            display: flex;
        }




        .after:after {
            display: inline-block;
            background-color: var(--red-colour);
            content: "view more skits😁";
            text-transform: uppercase;
            border-radius: 1rem;
            border: 1px solid #B51C20;
            justify-content: center;
            color: aliceblue;
            padding: 0.8rem 1rem !important;
            margin: 1rem 9.9rem !important;
            white-space: nowrap;
            font-size: 1.1rem;
            top: 10rem;
            left: 3rem;
        }

        .art-gridiews:before {
            display: inline-flex;
            background-color: #B51C20;
            content: "reviews";
            text-transform: uppercase;
            text-align: center;
            border-radius: 1rem;
            border: 1px solid #B51C20;
            /* align-itenms: center; */
            justify-content: center;
            color: aliceblue;
            padding: 0.8rem;
            margin: 2rem 9rem;
            white-space: nowrap;
        }




        .olther-articles {
            display: grid;
        }






        bold {
            font-size: 1.3rem;
            color: red !important;
        }

        em {
            font-size: 1.3rem
        }

        /*
 .other-articles.mobile.card.grid.art-grid {
  display: none;
  background: #fff !important;
  border-radius: 0px
 }
*/


        /*.container.grid-footer.grid-3{*/
        /* grid-column: 1fr !important;*/
        /* background: */
        /* .read-more-button {
   background: rgba(230, 23, 23, 0.99);
   border-radius: 0.9rem;
   border: 1px solid #fd7926;
   padding: 0.2rem 0.9rem;
   transition: background 0.5s
  }*/

        .read-more-button a {

            font-size: 1.1rem;
            text-align: center;
            transition: background 0.5s;
        }

        .grid-3 {
            grid-template-columns: 1fr;
            display: block;
            grid-template-rows: 1fr;
            font-size: 1rem;
        }

        .read-more-button:hover {
            background: linear-gradient(to bottom left, #e0960e, red) !important;
            transition: background 0.5s;

        }

        .read-more-button a:hover {
            background: linear-gradient(to bottom right, orange, red) !important;
            transition: background 0.5s;


        }

        /*
 .read-more-button a:hover {
  background: #acb72b
 }
*/

        /*
 .odo-h1.odo-mobile {
  padding: 0;
  margin: 0;
  text-align: center;
  font-size: 2rem;
  font-weight: 600
 }
*/

        /*
 .footenr-nav {
    background:  ;
    text-align: start !important;
    justify-content: flex-start !important;
    font-size: 1.5rem !important;
}
*/
        .website-author {
            padding: 1.2rem;
            margin: 1rem;
            text-align: center;
            width: auto
        }

        .author-site-span {
            font-size: 1.4rem;
            overflow: hidden;
            word-wrap: break-word;

        }

        .author-paragraph {
            font-size: 1.2rem;
            text-align: center
        }

        .grid-footer {

            display: block;
            gap: 20px;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            height: 100%;
            grid-template-columns: 1fr;
            padding: 2rem 0
        }

        .grid-3 .c {
            font-size: 1.5rem;
            padding: 0.5rem 0;
        }


        .remove-bullet-points {
            text-align: center;
            padding: 0.5rem 0;
            font-size: 130% !important;
        }

        .remove-bullet-points li {
            margin: 0.5rem 0;
            font-size: 1.6rem;
        }


        .social {
            text-align: center;
            padding: 0.5rem 0;

        }

        .odo-h1:hover {
            font-size: 2.1rem !important
        }



        .card.video-utility {
            margin: 1rem 1rem !important;
            padding: 1rem 1rem !important;
            width: 100%
        }

        .video-box {
            width: 90%;
            margin-left: -0.4rem !important;
            padding: 0;

        }

        .videos.grid {
            width: 100%;
            margin: 88px;
            padding: 0;
        }

        video.card {
            display: flex;
        }

        div,
        body,
        section {
            margin: 0;
            padding: 0;
        }

        .headber-mod {
            /* box-shadow: 9px 3px 10px 55px rgb(73, 224, 17);*/
            height: 65rem;

        }

        .bc.flexy {
            visibility: hidden
        }

        .btn.btn-head-nav-mod {
            margin: 0 0.2rem;
            white-space: nowrap;
            text-align: center;
            justify-content: center;
            font-size: 0.9rem
        }

        /*
 .other-articles.mobile.card.grid.art-grid{
  display: grid !important;
  grid-template-columns: 1fr;
  max-width: 90%;
padding: 1px;
  gap: 3px !important
 }
*/
        /*
 .other-articles.mobile.card.grid.art-grid {
    width: 100%;
    height: auto;
*/


        .other-articles.card.grid.art-grid {
            display: none !important;
            /*background: #fff !important;*/
            border-radius: 0px
        }

        .mobile {
            display: block !important
        }

        .articles {
            display: block;

            margin: 0 !important;
            padding: 0 !important;
            height: 475px;
            overflow: scroll;
            width: 100%
        }

        .art-text-p {
            font-size: 1.5rem;
            margin: 1rem 0 !important;
            padding: 0;

        }

        .other-articles.mobile.card.grid.art-grid {

            display: block !important
        }


    }

    @media all and (max-width : 600px) {

        #logo {
            display: block;
            padding: 0;
            width: 100%;
            text-align: center;
            float: none;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s;

        }

        nav {
            margin: 0;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        /* Hide the navigation menu by default */
        /* Also hide the  */
        .toggle+a,
        .menu {
            display: none;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        /* Stylinf the toggle lable */
        .toggle {
            display: block;
            background-color: #254441;
            padding: 14px 20px;
            color: #FFF;
            font-size: 17px;
            text-decoration: none;
            border: none;
            transition: border 0.5s, background-color 0.5, width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        .toggle:hover {
            background-color: #000000;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        /* Display Dropdown when clicked on Parent Lable */
        [id^=drop]:checked+ul {
            display: block;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        /* Change menu item's width to 100% */
        nav ul li {
            display: block;
            width: 100%;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        nav ul ul .toggle,
        nav ul ul a {
            padding: 0 40px;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        nav ul ul ul a {
            padding: 0 80px;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        nav a:hover,
        nav ul ul ul a {
            background-color: #000000;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        nav ul li ul li .toggle,
        nav ul ul a,
        nav ul ul ul a {
            padding: 14px 20px;
            color: #FFF;
            font-size: 17px;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }


        nav ul li ul li .toggle,
        nav ul ul a {
            background-color: #212121;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        /* Hide Dropdowns by Default */
        nav ul ul {
            float: none;
            position: static;
            color: #ffffff;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

            /* has to be the same number as the "line-height" of "nav a" */
        }

        /* Hide menus on hover */
        nav ul ul li:hover>ul,
        nav ul li:hover>ul {
            display: none;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        /* Fisrt Tier Dropdown */
        nav ul ul li {
            display: block;
            width: 100%;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

        }

        nav ul ul ul li {
            position: static;
            transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, padding 0.5s, text-align 0.5s, margin 0.5s;

            /* has to be the same number as the "width" of "nav ul ul li" */

        }

    }