:root {
    --primary-colour: #178d34;
    --secondary-colour: #127029;
    --dark-colour: #093514;
    --light-colour: #21c74a;
    --red-colour: rgba(255, 0, 0, 0.87);

}






* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    flex-wrap: wrap !important;
}

html {
    font-size: 62.5%;
    text-rendering: optimizeLegibility;
    overflow-x: hidden;
    /*font-family: 'Lato', sans-serif;*/
}

body {
    font-size: 1.6rem;
    background-color: #fff;
    color: #555;
    font-family: 'Lato', 'Arial', sans-serif;
    /*    font-weight: 00;*/
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* ----------------------------------------------- */


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
    /*padding: 0 !important;*/
}

.box {
    padding: 1%;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    color: #ffe50d;
    font-size: 240%;
    word-spacing: 4px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #e67e22;
    content: " ";
    width: 100px;
    margin: 0 auto;
    margin-top: 30px;
}

/* ----------------------------------------------- */
/* REUSABLE COMPONENTS */
/* -----------------------------------------------


.row {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    padding: 80px 0;
}

.box {
    padding: 1%;
}*/


/*MARGINS*/
/*MARGINS ALL SIDES*/


.m-xs {
    margin: 1rem;

}


.m-s {
    margin: 1.5rem;

}

.m-m {
    margin: 2rem;

}

.m-l {
    margin: 3rem;

}

.m-xl {
    margin: 4rem;

}


/*MARGINS Y*/
.my-xs {
    margin: 1rem 0;

}


.my-s {
    margin: 1.5rem 0;

}

.my-m {
    margin: 2rem 0;

}

.my-l {
    margin: 3rem 0;

}

.my-xl {
    margin: 4rem 0;

}

/*MARGINS X*/

.mx-xs {
    margin: 0 1rem;

}


.mx-s {
    margin: 0 1.5rem;

}

.mx-m {
    margin: 0 2rem;

}

.mx-l {
    margin: 0 3rem;

}

.mx-xl {
    margin: 0 4rem;

}



/*PADDINGS*/
/*PADDING Y*/
.py-xs {
    padding: 1rem 0;

}


.py-s {
    padding: 1.5rem 0;

}

.py-m {
    padding: 2rem 0;

}

.py-l {
    padding: 3rem 0;

}

.py-xl {
    padding: 4rem 0;

}

/*PADDING X*/

.px-xs {
    padding: 0 1rem;

}


.px-s {
    padding: 0 1.5rem;

}

.px-m {
    padding: 0 2rem;

}

.px-l {
    padding: 0 3rem;

}

.px-xl {
    padding: 0 4rem;

}

/*PADDING ALL SIDES*/

.p-xs {
    padding: 1rem;

}


.p-s {
    padding: 1.5rem;

}

.p-m {
    padding: 2rem;

}

.p-l {
    padding: 3rem;

}

.p-xl {
    padding: 4rem;

}


/*TEXT THINGS */
.tt {
    text-transform: uppercase
}


/*FONT SIZES */

.fs-xs {
    font-size: 1rem
}

.fs-s {
    font-size: 1.5rem
}

.fs-m {
    font-size: 2rem
}

.fs-l {
    font-size: 3rem
}

.fs-xl {
    font-size: 4rem
}


/* ----------------------------------------------- */
/* HEADER */
/* ----------------------------------------------- */

header.header-mod {
    /*background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(https://www.vappingo.com/word-blog/wp-content/uploads/2011/03/Concrete-nouns-snot.jpg);
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.35), black), url(http://damnthatsweird.com/wp-content/uploads/2012/05/kuCx6.jpg);*/
    background-size: auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(kuCx6.jpg);

    background-position: center;
    height: 100vh;
    background-attachment: fixed;
    z-index: 200;
    transition: height 2s float 2s;

}

hemader.headjmer-mod:hover {
    height: auto;
    transition: height 2s float 2s;
}

.herotextbox {
    position: absolute;
    width: 1140px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.herotextbox h1 {
    color: #21c74a !important;
    font-weight: 600;
    font-size: 3rem !important;
    margin: 0;
    padding: 0 1rem !important;
    text-align: start;


}



.logo {
    height: 100px;
    width: auto;
    float: left;
    margin-top: 20px;
    visibility: hidden;
}

.logoblack {
    display: none;
    height: 50px;
    width: auto;
    float: left;
    margin: 5px 0;
}


/
/* Main navi */
.main-nav {
    float: right;
    list-style: none;
    margin-top: 55px;
}

.main-nav li {
    display: flex;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 1remm 0;
    color: #fff;
    text-decoration: none;
    background: red;
    text-transform: uppercase;
    font-size: 90%;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 21px solid #e67e22;
}


/* Mobile navi */

.read-more-button a {
    background: var(--light-colour) !important;
    transition: background 0.5s, border 0.5s, color 0.5s;
    /*   border-radius: 0.5rem;
/*   padding: 0.5rem;*/
    border: none;
    color: #fff;


}

.read-more-button {
    background: var(--light-colour) !important;
    transition: background 0.5s, border 0.5s, color 0.5s, border-radius 0.5s, padding 0.5s;
    border-radius: 0.5rem;
    padding: 0.5rem;
    border: 1px solid green;
    margin: 0 !important;
    color: #fff;

}

.read-more-button a:hover {
    background: linear-gradient(to bottom left, #e0960e, red) !important;
    transition: background 0.5s, border 0.5s, color 0.5s, border-radius 0.5s, padding 0.5s;
    border-radius: 0.5rem;
    border: none;
    color: #fff;

}

.date {
    background: #3e4553 !important;
    border-radius: 1rem;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
    margin: 0.5rem 0 !important;
    padding: 0 0.5rem !important;
    font-size: 1rem !important;
    color: white;
}



em {
    color: #fff;
}

.date a {
    /*background: #f4f4f4 !important;*/
    color: #fff;
    /*border-radius: 1rem;*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
    padding: 5rem;
}

.date ion-icon {
    /*background: #f4f4f4 !important;*/
    color: #fff;
    /*border-radius: 1rem;*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
}

.mna {
    background: #3e4553 !important;
    border-radius: 1rem;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
}


.mna a {
    /*background: #f4f4f4 !important;*/
    color: #fff;
    /*border-radius: 1rem;*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
    padding: 0.5rem;
}

.mna ion-icon {
    /*background: #f4f4f4 !important;*/
    color: #f4f4f4;
    /*border-radius: 1rem;*/
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    flex-direction: row;
}

.read-more-button:hover {
    background: linear-gradient(to bottom left, #e0960e, red) !important;
    transition: background 0.5s, border 0.5s, color 0.5s, border-radius 0.5s, padding 0.5s;
    border-radius: 0.5rem;
    border: 1px solid var(--dark-colour);

}

a.tdn:hover {
    color: var(--red-colour);
    transition: background 0.5s, border 0.5s, color 0.4s, border-radius 0.5s, padding 0.5s;

}

/*.read-more-button a:hover {
   background: linear-gradient(to bottom right, orange, red) !important;
   transition: background 0.5s;


  }*/

.mobile-nav-icon {
    float: right;
    margin-top: 30px;
    cursor: pointer;
    display: none;
}

.mobilenavicon {
    font-size: 200%;
    color: #fff;
    display: none
}



#w-w-u:target {
    opacity: 1;
    background: yellow;
    transition: opacity 1s, background 1s;
}

#advertise:target {
    opacity: 1;
    background: yellow;
    transition: opacity 1s, background 1s;

}

#drop-a-review:target {
    opacity: 1;
    background: yellow;
    transition: opacity 1s, background 1s;

}

/* Sticky navi */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.98);
    z-index: 9999;
    box-shadow: 0 2px 2px #efefef;

}

.sticky .main-nav {
    margin-top: 18px;
}

.sticky .main-nav li a:link,
.sticky .main-nav li a:visited {
    padding: 16px 0;
    color: color(prophoto-rgb 0.2638 0.2638 0.2638);
}

.sticky .logo {
    display: none;
}

.sticky .logo-black {
    display: block;
}

/* BUTTONS */


.footer .container.footer .container.footer .odo {
    background: red
}


.btn {
    border-radius: 3.0rem;
    text-decoration: none;
    background: var(--light-colour);
    border-radius: 5px;
    border: none;
    cursor: pointer;
    color: darkred;
    display: inline-block;
    font-weight: 900;
    transition: color 0.6s, background 0.6s;

}

.btn-mod:hover {
    transform: rotate(-300deg);
    background: var(--dark-colour) !important;
    transition: transform 1.5s, background 0.6s;
    ;
}

a.btn-full:hover {
    color: #fff !important;
    background: var(--dark-colour);
}

button a:not(.btn-ghost) {
    text-decoration: none;
    color: #000 !important;
    background: var(--light-colour);
    transition: color 0.6s, background 0.6s;

}

.btn-ghost {
    text-decoration: none;
    color: var(--light-colour) !important;
    transition: color 0.6s, background 0.6s;

}

.btn-tr {
    border: 1px solid green;
    color: rgba(240, 248, 255, 0.88);
    text-decoration: none;
    background: transparent;
    cursor: pointer;
    color: #fff !important;
    display: inline-block;
    font-weight: 900;
    border-radius: 0.5rem;
    transition: color 0.6s, background 0.6s;


}

.btn-tr:hover {
    background: var(--dark-colour);
    color: #fff !important;
    transition: color 0.6s, background 0.6s;


}

.btn-ghost:hover {
    background: var(--dark-colour);
    color: #fff !important;
    transition: color 0.6s, background 0.6s;


}



.btn-tr a {
    color: yellow
}

.btn a {
    color: orange;
    transition: color 0.6s, background 0.6s;
}

/* SECTION VIDEOS-AND-ARTICLES*/


.other-articles {
    background: #554
}

section.articles {
    background: transparent !important;
    padding: 0;
}





bold {

    color: #eee;
}

/* CARDS*/


.card {
    background: #fff;
    color: #333;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    padding: 1rem;
    margin: 1rem;
}


/*FLEX*/

.flex {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: row;
}

/*GRID*/

.grid {
    display: grid;
    gap: 10px;
    word-wrap: wrap;
    flex-wrap: wrap;
    overflow: scroll;
    grid-template-columns: auto 500px !important;
}

.videos .grid {
    background: linear-gradient(to bottom right, #830101, #c10202) !important;
    /* Add animation */
    -webkit-animation-name: example;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
    /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;

}

.other-articles.grid {
    grid-template-columns: 1fr 1fr !important;
    /* grid-template-rows: 100px 100px; */
    /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    font-size: 1.5rem;
    background: linear-gradient(#093514, #127029);
    overflow: hidden;
    line-height: 1.5;
    flex-wrap: wrap !important;
    word-wrap: wrap !important;
    margin-bottom: 2.5rem !important;
    /* Add animation */
    -webkit-animation-name: example;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
    /* Chrome, Safari, Opera */
    /*animation-name: example;
    animation-duration: 0.5s;*/
}

.videos-wrapper {
    display: grid;
    gap: 10px;
    word-wrap: wrap;
    flex-wrap: wrap;
    overflow: scroll;
    background: #f5f5f5;
    height: 200vh !important;
    border-top: 1rem solid #127029;
    /* Add animation */
    -webkit-animation-name: example;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
    /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 0.5s;
    /* z-index: 2;
 position: relative;*/
}

.articles-wrapper {
    display: block;
    gap: 10px;
    word-wrap: wrap;
    flex-wrap: wrap;
    overflow: scroll;
    background: #e4e4e4;
    height: 200vh !important;
    border-top: 1rem solid #830101;

    /* grid-template-rows: 200px; */
    /* grid-template-rows: repeat(auto-fit, minmax(400px, 1fr)); */
    /* margin: 1rem; */
    /* padding: 1rem; */
}

.art-text {
    grid-column: 1 / 3;
    overflow: scroll;
    width: 100%;
    height: 140px;
}


.art-text-p {
    /*    height: ;*/
    overflow: scroll;
}

.mobile {
    display: none
}



.clips-and-articles {
    background: #fdfdfd;
    animation: SlideInFromTop ease-in;
    /*display: grid !important;*/
    /*grid-template-columns: 1fr !important;*/
    padding: 1rem 0;
    margin: 0;
    height: auto !important;
}

img {
    width: 100%;
    /*height: 16vh !important;*/
    border-radius: 1rem;
    border: var(--light-colour) 2px solid
}

p {
    /* text-align: center; */
    margin: 0;
    color: #eee;
}


.art-img-div {
    width: 100%;
    margin-left: 5pxz;
}

.flex-mod-art {
    align-items: start;
    display: flex;
    justify-content: start;
    flex-direction: column;
    background: #830101;
    border-radius: 1rem;
    border: 0.1rem solid var(--light-colour);
    padding: 1rem
}

/*:target {
    background: red;
    padding: 5rem !important;
}*/

.source {
    font-weight: 700;
    color: #eee !important;
    /* Add animation */
    -webkit-animation-name: example;
    /* Chrome, Safari, Opera */
    -webkit-animation-duration: 0.5s;
    /* Chrome, Safari, Opera */
    animation-name: example;
    animation-duration: 4s;
}

.date {
    font-weight: 700;
    color: #ccc
}

.art-src {
    color: #ccc
}

.art-bsrc:hover {
    color: #a69400
}

.art-line {
    width: 100%
}

.lh {
    line-height: 1.5;
}


.ma {
    margin: 3px 0;
}



.tdn {
    text-decoration: none;

}

.ls {
    letter-spacing: 0.5px;

}

.ws {
    word-spacing: 1px;
}

.wb {
    word-break: break-all;
}




/*ION-ICONS*/

ion-icon {
    color: #f4f4f4;
    -webkit-transition: color 1s, -webkit-transform 0.5s;
    transition: color 1s, -webkit-transform 0.5s;
    transition: color 1s, transform 0.5s;
    transition: color 1s, transform 0.5s, -webkit-transform 0.5s;
    /*text-decoration: underline;*/
    margin-right: 0.5rem !important;

}

ion-icon:active,
ion-icon:hover {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    color: red;
    -webkit-transition: color 0.6s, -webkit-transform 0.6s;
    transition: color 0.6s, -webkit-transform 0.6s;
    transition: transform 0.6s, color 0.6s;
    transition: transform 0.6s, color 0.6s, -webkit-transform 0.6s;
}

.flex-mod-icon {
    /* flex-direction: row; */
    align-items: center;
    /* justify-content: space-between; */
}



.art-header {
    /*font-weight: 900;
text-align: start;
font-size: 1.6rem;
word-spacing: 0.3rem;
/*    white-space: ;*/
    color: rgb(190, 174, 45);
    display: flex !important;
    flex-direction: column !important;
}


/*}*/

/*.stubborn-icon-header {
    display: flex;
    flex-direction: row;
    color: red !important;
    text-align: none;*/
/* align-items: start !important; */
/* justify-content: start !important; */
/*}*/

.source,
.date,
.quest {
    align-items: center !important;
    justify-content: center !important;
    display: flex !important;

}

.quest {
    font-weight: 600;
    text-transform: uppercase;
}

.art-label {
    /*    color: ;*/
    justify-content: space-between;
    border-radius: 10px;
    margin: 1rem;
    display: flex;

}

.art-label-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.art-label-h1-clips,
.art-label-h1-reviews {
    padding: 1.5rem;
}

.content-line {
    background: red;
    position: sticky;
    display: none;
    /*top: 600px*/
}

/*.art-label-wrapper>div*/

/*:nth-child(1)*/
    {
    display: block;
    height: 1rem;
    background-color:
        /*yellow*/
        var(--dark-colour);
    content: " ";
    margin: 0 4.2rem;
    margin-left: 1rem;
    /*margin-top: 2rem;*/
    position: sticky;
    top: 0;
    /*left: 33px;
bottom: 33px;*/
    /*z-index: 1 !important;*/
    border-radius: 2rem 2rem 0 0;
}

/*BOX_SHADOWS*/
.bs {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}




.art-label-h1-clips {
    font-weight: 600;
    /*display: flex;*/
    /*margin-top: 1rem;*/
    margin: 4rem 1rem;
    border-radius: 5px;
    color: rgba(255, 0, 0, 0.87);
    font-size: 4rem;
    text-align: left;
}

.art-label-h1-reviews {
    font-weight: 600;
    text-align: right;

    /*display: flex;*/
    /*margin-top: 1rem;*/
    margin: 4rem 1rem;
    border-radius: 5px;
    color: rgba(255, 0, 0, 0.87);
    font-size: 4rem;
}






video {
    background: red;

}


.video-utility {
    /*background: linear-gradient(#127029, #093514);*/
    width: 90%;
    /*margin: 0;*/
    background: #127029;
}

.video-box {
    /* margin: 0 -6rem !important; */
    padding: 0 !important;
    position: relative;
    text-align: center;
    /*width: 100%;*/
}

.bottom {
    position: absolute;
    bottom: 55%;
    left: 8%;
    background: red !important;
    font-size: 2rem;
    word-wrap: wrap;
}

/*/*--FOOTER--
footer {
    background: linear-gradient(to left bottom, #726708, #496205);
         background: linear-gradient(-90deg, #adfbda 0, #35c3ff 30%, #fda399 50%, #76d880 70%, #ebf38b 90%, #adfbda 100%);


}

footer .social a {
    margin: 0 10px;
    color: #f4f4f4;
    -webkit-animation: slideInFromTop 2s ease-in;
    animation: slideInFromTop 2s ease-in;
}

footer nav ul li a {
    color: #CCC;
}

footer nav ul li a:hover {
    border-bottom: 1px solid yellow;
    color: #ccc;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
}

footer .odo .odo-h1 {
    color: #CCC;
    -webkit-transition: color 0.5s, font-size 0.4s;
    transition: color 0.5s, font-size 0.4s;
    margin-right: auto;
}

footer .odo .odo-h1:hover {
    color: yellow;
    font-size: 39px;
    -webkit-transition: color 0.5s, font-size 0.4s;
    transition: color 0.5s, font-size 0.4s
}


/*--FOOTER FOR GRID--

.grid-footer {

    display: grid;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr;
}

.grid-3 {
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 100px;
    grid-template-rows: 1fr;
}


.btn-footer {
    padding: 10px 30px;
    cursor: pointer;
    display: inline-block
}



.btn-footer:hover {
    -webkit-transform: scale(0.98);
    transform: scale(0.98);
}



ion-icon {
    color: #a69400;
    -webkit-transition: color 1s, -webkit-transform 0.5s;
    transition: color 1s, -webkit-transform 0.5s;
    transition: color 1s, transform 0.5s;
    transition: color 1s, transform 0.5s, -webkit-transform 0.5s;
}

ion-icon:active,
ion-icon:hover {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    color: yellow;
    -webkit-transition: color 0.6s, -webkit-transform 0.6s;
    transition: color 0.6s, -webkit-transform 0.6s;
    transition: transform 0.6s, color 0.6s;
    transition: transform 0.6s, color 0.6s, -webkit-transform 0.6s;
}

.social a {

    text-decoration: none
}

.container {
    /*    max-width: ;
    margin: 0 0;
    padding: 50px 40px;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
}

.remove-bullet-points {
    list-style-type: none
}

*/
.website-author {
    background: rgb(240, 240, 240);
    grid-column: 2 / 4;
    text-transform: uppercase;
    border-radius: 6px;
    width: 50%;
    font-weight: 600;
    font-size: 14px;
}

/*

.author-site-span {
    column-rule: -o-linear-gradient(red, pink);
    column-rule: linear-gradient(red, pink);
    font-size: 20px;
    color: #ff006c;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    letter-spacing: 1px;
    transition: color 0.5s, font-size 0.5s, box-shadow 0.5s;

}

.author-site-span:hover {
    color: red;
    font-size: 20.4px;
    box-shadow: 0px 3px 10px #c39f9f;
    font-weight: 600;
    transition: color 0.5s, font-size 0.5s, box-shadow 0.5s;
}

/*FOOTER*/


.website-author {
    padding: 1rem;
    margin: 1rem !important;
    text-align: center;
    /*width: 100%;*/
    background: rgb(240, 240, 240);
    text-transform: uppercase;
    border-radius: 6px;
    font-weight: 600;
    font-size: 14px;
    box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.32);
    text-align: center;
    display: block;
    align-self: center;
    justify-content: center;
}



.art-label-wrapper-mobile {
    display: none;

}


.author-site-span {
    font-size: 1.4rem;
    overflow: hidden;
    word-wrap: break-word;

}

.tdn:hover {
    color: white !important;
    background: transparent !important;
    border-bottom: none !important;
}


.author-paragraph {
    font-size: 1.2rem;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    display: flex;
    /* column-spnan: 1 / 3 !important; */
    margin: 1rem;

}

ul.remove-bullet-points {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column !important;
    padding: ;
    margin: 0;

}

ul.remove-bullet-points a {
    padding: 0;
    margin: 0;
    background: transparent !important;
    color: ;
}

ul.remove-bullet-points:hover {
    color: red;
    background: ;
}

.tdn {
    background: transparent;
}


.footer-nav {
    align-items: center;
    justify-content: center;
    display: flex;
    background: transparent !important;
}

.grid-footer {

    display: grid;
    gap: 20px;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr !important;

    padding: 2rem 0;
    background: #093514;
    ;
}

.grid-3 .c {
    font-size: 1.5rem;
    padding: 0.5rem 0;
    color: #444;

}


.remove-bullet-points {
    text-align: center;
    padding: 0.5rem 0;
    font-size: 130% !important;
}

.remove-bullet-points li {
    margin: 0.5rem 0;
    font-size: 1.6rem;
}


.social {
    text-align: center;
    padding: 0.5rem 0;

}

.odo-h1:hover {
    font-size: 2.1rem !important
}








footer {
    background: linear-gradient(to left bottom, #726708, #496205);
    /*     background: linear-gradient(-90deg, #adfbda 0, #35c3ff 30%, #fda399 50%, #76d880 70%, #ebf38b 90%, #adfbda 100%);*/


}

footer .social a {
    margin: 0 10px;
    color: #f4f4f4;
    -webkit-animation: slideInFromTop 2s ease-in;
    animation: slideInFromTop 2s ease-in;
}

footer nav ul li a {
    color: #CCC;
}

footer nav ul li a:hover {
    border-bottom: 1px solid yellow !important;
    color: #ccc;
    -webkit-transition: border-bottom 1s;
    transition: border-bottom 1s;
}

footer .odo .odo-h1 {
    color: #CCC;
    -webkit-transition: color 0.5s, font-size 0.4s;
    transition: color 0.5s, font-size 0.4s;
    margin: auto;
    font-size: 3rem;
    text-align: center;
    text-transform: uppercase;
}

footer .odo .odo-h1:hover {
    color: var(--red-colour);
    font-size: 3rem;
    -webkit-transition: color 0.5s, font-size 0.4s;
    transition: color 0.5s, font-size 0.4s
}

.odo-h1 a {
    color: #f4f4f4;
}

.c {
    text-align: center;
}

/*--FOOTER FOR GRID--*/











ion-icon {
    color: #999;
    -webkit-transition: color 1s, -webkit-transform 0.5s;
    transition: color 1s, -webkit-transform 0.5s;
    transition: color 1s, transform 0.5s;
    transition: color 1s, transform 0.5s, -webkit-transform 0.5s;
}

ion-icon:active,
ion-icon:hover {
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
    color: yellow;
    -webkit-transition: color 0.6s, -webkit-transform 0.6s;
    transition: color 0.6s, -webkit-transform 0.6s;
    transition: transform 0.6s, color 0.6s;
    transition: transform 0.6s, color 0.6s, -webkit-transform 0.6s;
}

.social a {

    text-decoration: none
}

.container {
    /*    max-width: ;*/
    margin: 0 0;
    overflow: hidden;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 20px;
}

.remove-bullet-points {
    list-style-type: none;

}

.footer-nav {
    text-align: center;
    justify-content: center;
    font-size: 1rem
}


.btn-head-nav-mod {
    padding: 0.6rem;
    font-size: 1rem;
    background: var(--dark-colour);
    color: teal;
    animation: SlideInFromBottom ease-in;

}

.author-paragraph {
    color: #333;
    text-align: center;

}

.author-site-span {
    column-rule: -o-linear-gradient(red, pink);
    column-rule: linear-gradient(red, pink);
    font-size: 20px;
    color: #ff006c;
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    margin: 10px;
    letter-spacing: 1px;
    transition: color 0.5s, font-size 0.5s, box-shadow 0.5s;

}

.author-site-span:hover {
    color: #093514;
    font-size: 20.4px;
    box-shadow: 0px 3px 10px #c39f9f;
    font-weight: 600;
    transition: color 0.5s, font-size 0.5s, box-shadow 0.5s;
}

.footer-ul {
    background: #093514;
    margin: 0;
    padding: 0
}

.footer-ul a {
    color: #fff;
    margin: 0;
    padding: 0;
    background: #093514;
    transition: color 0.5s, border-bottom 0.5s;

}

.footer-ul a:hover {
    color: #333;
    border-bottom: 1px solid rgba(255, 0, 0, 0.87) !important;
    transition: color 0.5s, border-bottom 0.5s;


}

.cont:hover .hide {
    opacity: 1;
    color: red;
    background: yellow;
}

.hide {
    opacity: 0.5;
    background: blue
}

.flexy {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center
}

.ab {
    /*    background: ;*/
    max-width: 30px;
    height: 150px;
    position: fixed;
    top: 190px;
    bottom: 0px;
    left: 10px;
    right: 20px;
    z-index: 10;
}

.bc {
    background: whsite;
    display: none;
    opacity: 1;
    width: 100%;
    height: 100%;
    transition: opacity 0.5s;

}

.ab:hover .bc {
    color: greesn;
    /*    opacity: ;*/
    background: steal;
    transition: opacity 0.5s;
}

.flexy a ion-icon {
    display: none;
    flex-direction: row;
    width: 100%;
    font-size: 25px;
    margin: 7px 0;
    color: firebrick;


}






/* CSS Document */

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);*/
/*@import url(https://fonts.googleapis.com/css?family=Bree+Serif);*/


/*
/* Media Queries
---------------------------------------------

@media all and (max-width : 768px) {

    #logo {
        display: block;
        padding: 0;
        width: 100%;
        text-align: center;
        float: none;
    }

    nav {
        margin: 0;
    }

    /* Hide the navigation menu by default */
/* Also hide the
    .toggle + a,
    .menu {
        display: none;
    }

    /* Stylinf the toggle lable
    .toggle {
        display: block;
        background-color: #254441;
        padding:14px 20px;
        color:#FFF;
        font-size:17px;
        text-decoration:none;
        border:none;
    }

    .toggle:hover {
        background-color: #000000;
    }

    /* Display Dropdown when clicked on Parent Lable
    [id^=drop]:checked + ul {
        display: block;
    }

    /* Change menu item's width to 100%
    nav ul li {
        display: block;
        width: 100%;
        }

    nav ul ul .toggle,
    nav ul ul a {
        padding: 0 40px;
    }

    nav ul ul ul a {
        padding: 0 80px;
    }

    nav a:hover,
    nav ul ul ul a {
        background-color: #000000;
    }

    nav ul li ul li .toggle,
    nav ul ul a,
  nav ul ul ul a{
        padding:14px 20px;
        color:#FFF;
        font-size:17px;
    }


    nav ul li ul li .toggle,
    nav ul ul a {
        background-color: #212121;
    }

    /* Hide Dropdowns by Default
    nav ul ul {
        float: none;
        position:static;
        color: #ffffff;
        /* has to  the same number as the "line-height" of "nav a" */
/*}*/

/* Hide menus on hover
    nav ul ul li:hover > ul,
    nav ul li:hover > ul {
        display: none;
    }

    /* Fisrt Tier Dropdown
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul ul li {
        position: static;
        /* has to be the same number as the "width" of "nav ul ul li" */

/*}/**/

/*}*/

/*@media all and (max-width : 330px) {

    nav ul li {
        display:block;
        width: 94%;
    }
*/
/*}*/

/* CSS Document */

/*@import url(https://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif);*/

body {
    background: #212121;
    font-size: 22px;
    line-height: 32px;
    color: #ffffff;
    margin: 0;
    padding: 0;
    word-wrap: break-word !important;
    /*font-family: 'Open Sans', sans-serif;*/
    transition: ;
}

h1 {
    font-size: 60px;
    text-align: center;
    color: #FFF;
}

h3 {
    font-size: 30px;
    line-height: 34px;
    text-align: center;
    color: #FFF;
}

h3 a {
    color: #FFF;
}

a {
    color: #FFF;
}

h1 {
    /* margin-top: 100px; */
    text-align: center;
    font-size: 60px;
    line-height: 70px;
    /*font-family: 'Bree Serif', 'serif';*/
}

#container {
    margin: 0 auto;
    max-width: 890px;
}

p {
    /* text-align: center; */
}

.toggle,
[id^=drop] {
    display: none;

}

/* Giving a background-color to the nav container. */
nav {
    margin: 0;
    padding: 0;
    background: #178d34 !important;
    position: fixed;
    z-index: 1;
    width: 100%;
}

.footer-nav {
    position: static;
}

#logo {
    display: block;
    padding: 0 30px;
    float: left;
    font-size: 20px;
    line-height: 60px;
}

/* Since we'll have the "ul li" "float:left"
 * we need to add a clear after the container. */

nav:after {
    content: "";
    display: table;
    clear: both;
}

/* Removing padding, margin and "list-style" from the "ul",
 * and adding "position:reltive" */
nav ul {
    float: right;
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
}

/* Positioning the navigation items inline */
nav ul li {
    margin: 0px;
    display: inline-block;
    float: left;
    background-color: #127029;
}

/* Styling the links */
nav a {
    display: block;
    padding: 14px 18px;
    color: #FFF;
    font-size: 17px;
    text-decoration: none;
    transition: width 0.5s, float 0.5s, display 0.5, position 0.5s;

}

.contact-us-highlight {
    background: var(--red-colour);

}

.contact-us-highlight-footer {
    color: #fff;
    border: 0.2rem solid var(--red-colour);


}




nav ul li ul li:hover {
    background: #21c74a !important;
    transition: background 0.5s
}

/* Background color change on Hover */
nav a:hover {
    background-color: #21c74a !important;
    transition: background 0.5s, background-color 0.5s
}

/* Hide Dropdowns by Default
 * and giving it a position of absolute */
nav ul ul {
    display: none;
    position: absolute;
    /* has to be the same number as the "line-height" of "nav a" */
    top: 60px;
    transition: display 0.5s, position 0.5s
}

/* Display Dropdowns on Hover */
nav ul li:hover>ul {
    display: inherit;
    transition: display 3s;
}

/* Fisrt Tier Dropdown */
nav ul ul li {
    width: 170px;
    float: none;
    display: list-item;
    position: relative;
    transition: width 0.5s, float 0.5s, display 0.5, position 0.5s;
}

/* Second, Third and more Tiers
 * We move the 2nd and 3rd etc tier dropdowns to the left
 * by the amount of the width of the first tier.
*/
nav ul ul ul li {
    position: relative;
    top: -60px;
    /* has to be the same number as the "width" of "nav ul ul li" */
    left: 170px;
    transition: width 0.5s, float 0.5s, display 0.5, position 0.5s, top 0.5s, left 0.5s
}


/* Change ' +' in order to change the Dropdown symbol */
li>a:after {
    content: ' +';
}

li>a:only-child:after {
    content: '';
}

.comedy-house-space {
    display: none
}